@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.login,
.signup,
.signup-maid {
  width: 100%;
  background: #fcc434;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  &-logo {
    padding: 0 20px 40px;
    width: 100%;
    background: #fcc434;
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      font-size: 11px;
    }
    .logo {
      font-family: "Lobster", cursive;
      color: #35271c;
      text-align: center;
      font-size: 41px;
      margin-bottom: 19px;
    }

    .icons-item {
      display: flex;
      background: #fff;
      padding: 15px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  &-form {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 100%;
    }

    input,
    select,
    textarea {
      background: #c5c4c336;
      border: none;
      border-radius: 10px;
      padding: 11px;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }
  }
}

//Homepage
.welcome {
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
  }
}
.home-page {
  padding-bottom: 95px;
  &--top-profil {
    background: #e8e8e84a;
    padding: 14px;
    border-radius: 10px;
  }

  &--promo {
    height: 120px;
    background: #faa759;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    .label {
      color: #fff;
      position: absolute;
      top: 25%;
      left: 10px;
      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
    img {
      height: 107px;
      position: absolute;
      right: 16px;
      bottom: 0;
    }
  }

  .profils {
    display: flex;
    justify-content: space-between;
  }
}
