.form-cooking {
    fieldset {
        padding: 23px 0;
        border-bottom: 1px solid #cccccc59;
    }
}
.form-cooking--group {
    display: flex;
    &-radio-button {
        justify-content: space-between;
    }
}