.card-profil {
  display: flex;
  border: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  &--img {
    position: relative;
    width: 150px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

    &-container {
      overflow: hidden;
      height: 100px;
      display: block;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      position: relative;
      width: 150px;
      img {
        width: 150px;
        position: absolute;
        background-size: contain;
      }
    }
  }

  &--info {
    margin: 12px 12px 0;

    .block {
      display: flex;
      justify-content: space-between;
      &:first-child {
        margin-bottom: 14px;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      p {
        margin: 0;
      }
      &-name {
        font-family: "Nunito", sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 18px;
        margin-top: 0;
        font-size: 18px;
      }
      &-service {
        color: #9c9b9b;
      }

      &-cta {
        display: flex;

        .btn-cta {
          margin: 0;
        }

        &-show-profil,
        &-selected {
          font-size: 60%;
          width: 150px;
          padding: 9px;
          margin-bottom: 0;
        }
        &-show-profil {
          background: none;
          border: 1px solid #fd6464;
        }
      }

      .rating {
        &-number,
        svg {
          color: #f7b249;
        }
      }
    }
  }
}
