.nav-top {
  width: 100%;
  padding: 20px 20px 0;
  &--notVisible {
      display: none;
  }
  button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  &--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    margin-right: 15px;
  }
  &--name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  svg {
    width: 12px;
    height: 12px;
  }
}
