.radio-button-icon {
  display: flex;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-width: 140px;
  align-items: center;
  padding: 5px 10px;

  &--checked {
    border: 1px solid #e8bb62;
    .radio-button-icon {
      &--icon,
      &--label {
        color: #e8bb62; 
        
      }
    }
    .radio-button-icon--icon {
      background: #fcd485;
    }
  }

  &--icon {
    margin-right: 8px;
    background: #dcdcdc; 
    border-radius: 10px;
    padding: 7px 10px 5px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &--input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
  }
}
